
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000; 
    font-family: 'Arial', sans-serif;
    color: #fff;
    line-height: 1.6;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
  }

  .container__botao{
    background-color:#b31111;
    width: 1000px;
    border-radius: 10px;
    padding: 1.3em;
    color: var(--cor-letra-segundaria);
    display: center;
    text-decoration: none;
    margin-bottom: 1em;
}
  
  
   h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }
   h2 {
    font-size: 2rem;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  h1 span, h2 span, .highlight {
    color: #e60000; 
  }
  
  p {
    color: #ccc;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  
  section {
    text-align: center;
    margin-bottom: 60px;
  }
  
  
  section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .valor {
    font-size: 2rem;
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 
 
  footer {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 60px;
    color: #666;
  }
  